################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project_2/MeramecNetFlixProject/bin/Debug
